<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--        configure the datasource-->
        <property name="hibernate.connection.url">jdbc:h2:file:./src/main/resources/chronicle-db;DB_CLOSE_DELAY=-1;MODE=PostgreSQL</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"/>

        <!--        driver spec-->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!--        make things nice-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- use hibernate to create our schema -->
        <!-- Four values for hbm2ddl.auto
          - create - drop then create at startup
          - create-drop - create at startup and drop at shutdown
          - update - only update schema diffs
          - none - default, don't do it
         -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!--        mappings-->
        <mapping class="com.revature.chronicle.models.Note"/>
        <mapping class="com.revature.chronicle.models.Tag"/>
        <mapping class="com.revature.chronicle.models.Video"/>
        <mapping class="com.revature.chronicle.models.User"/>
    </session-factory>
</hibernate-configuration>